html {
  height: 100%;
}

body {
  font-family: 'Roboto';
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex: 1;
}

.folder-name {
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.1s;
}
.folder-name:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.bold {
  font-weight: bold;
}

ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style: none;
  margin-bottom: 0.5em;
}

.tree-icon {
  vertical-align: top;
}

#root-tree {
  min-width: 5em;
  display: flex; /* shows x-scrollbar */
  overflow: auto;
  margin: 0;
  padding: 1em;
  flex: 2;
}
#root-tree > li {
  flex: 1;
}

.sub-tree {
  padding-left: 0.6em;
  margin-left: 0.8em;
  border-left: 1px dashed #999;
  border-radius: 0 0 0 10px;
}

.create-entry-item .folder-name {
  color: #666;
  transition: color 0.3s;
}
.create-entry-item:hover .folder-name {
  color: inherit;
}

#edit-pane {
  border-left: 1px solid #666;
  flex: 6;
}

#tab-bar {
  background-color: #222;
  border-bottom: 1px solid #444;
  height: 4em;
  display: flex;
  overflow-x: auto;
  align-items: flex-end;
  margin: 0;
  padding: 0.5em 1em 0;
}

#tab-bar li {
  background-color: #333;
  padding: 0.25em 0.5em;
  border-radius: 5px 5px 0 0;
  font-size: 0.8em;
  min-width: 10em;
  text-align: center;
  cursor: pointer;
  margin-right: 0.5em;
}
#tab-bar li:hover {
  background-color: #444;
}
