<!doctype html>
<title>Name System - Stardust</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons" rel="stylesheet">
<link href="namesystem.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="app">
  <ul id="root-tree" class="tree">
    <entry-item
      class="entry-item"
      name="/"
      :path="rootPath"
      :start-open="true">
    </entry-item>
  </ul>
</div>

<script type="text/x-template" id="entry-item">
  <li>
    <div
      class="folder-name"
      :class="{bold: isFolder}"
      @click="toggle">
      {{name}}
      [{{open ? '-' : '+'}}]
    </div>
    <ul v-show="open" v-if="isFolder">
      <entry-item
        class="item"
        v-for="child in entry.children"
        :key="child.name"
        :name="child.name"
        :path="path + '/' + child.name">
      </entry-item>
      <!--li class="add" @click="addChild">+</li-->
    </ul>
    <div v-show="open" v-if="entry.type === 'String'">
      {{entry.value}}
    </div>
  </li>
</script>

<script src="https://unpkg.com/vue"></script>
<script src="namesystem.js"></script>
